{% load static %}

<a role="button" onclick="BtClick(this); return false;" title="Новый" href="{% static 'adm_active/add.png' %}" id="new"><img src="{% static 'adm_active/add.png' %}"></a>				
<a role="button" onclick="BtClick(this); return false;" title="Изменить" href="{% static 'adm_active/add.png' %}" id="change"><img src="{% static 'adm_active/add.png' %}"></a>				
<a role="button" onclick="BtClick(this); return false;" title="Удалить" href="{% static 'adm_active/del.png' %}" id="del"><img src="{% static 'adm_active/del.png' %}"></a>				
<a role="button" onclick="BtClick(this); return false;" title="Применить" href="{% static 'adm_active/set.png' %}" id="set"><img src="{% static 'adm_active/set.png' %}"></a>				
<a role="button" onclick="BtClick(this); return false;" title="Отменить" href="{% static 'adm_active/cancel.png' %}" id="add"><img src="{% static 'adm_active/cancel.png' %}"></a>				
